name: Kubernetes CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: ./Viikkotehtävä6/backend
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run pytest
        working-directory: ./Viikkotehtävä6/backend
        env.
          PYTHONPATH: ${{ github.workspace }}/Viikkotehtävä6/backend 
        run: pytest -v

  deploy-kubernetes:
    needs: backend-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy (placeholder)
        run: echo "Deploy step will be added later"
